.abonements {
  min-height: 400px;
  @media (min-width: $tablet-width) {
    background-image: url("../../img/price-decor-tablet.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom ;
  }
}

@media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    .additional-catalog__promo {
      background-image: url("../../img/price-decor-tablett@2x.png");
    }
  }


.abonements__heading {
  text-align: center;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
    padding-bottom: 22px;
  }
}

.abonements__list {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.abonements__item {
  background-color: $color-white;
  padding: 50px 42px;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 380px;
    padding: 65px;
    margin-bottom: 40px;
  }
}

.abonements__item-heading {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

}

.abonements__description p {
  margin: 0;
  padding-bottom: 66px;
}

.abonements__price {
  position: relative;
  z-index: 1;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  padding-bottom: 18px;
  @media (min-width: $tablet-width) {
   padding-bottom: 22px;
  }
}


.abonements__price-bg {
  position: absolute;
  z-index: -1;
  bottom: 12px;
  left: 50%;
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  transform: translateX(-50%);
  color: $color-gray;
  opacity: 0.48;

}

.abonements__price p {
  margin: 0;
  display: inline;
  color: $color-blue-accent;

}



.abonements__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: $color-main;
  padding: 25px 47px;
  border: 2px solid $color-main;
  @media (min-width: $tablet-width) {
    padding: 27px 44px;
  }

}
