.about {
  min-height: 400px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 120px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    margin: 0 auto;
    display: flex;
    padding: 0 103px;
    column-gap: 145px;
    padding-bottom: 240px;
  }
}

.about__container {
  @media (min-width: $desktop-width) {
    padding: 0;
    width: 355px;
  }
}

.about__heading {
  padding-bottom: 11px;
  padding-top: 2px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
  }
}

.about__text {
  @media (min-width: $tablet-width) {
    padding: 0 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    align-items: start;
  }
}

.about__subtitle {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 95px;
  }

}

.about__subtitle p {
  margin: 0;
}
.about__description{
  padding-bottom: 35px;
}
.about__description p:last-child {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.about__description p {
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.about__media {
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 660px;
  }
}

.about__media {
  margin: 0 auto;
}

.about__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    height: 345px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.about__img picture {
  display: flex;
  width: 100%;
  height: 100%;
}

.about__img-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;

  @media (min-width: $tablet-width) {
    position: absolute;
    transform: translate(78%, -75%);
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
    left: -78px;
    bottom: -80px;
    transform: none;
  }
}


.about__video::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 170px;
  left: 0;
  z-index: 1;
  background-color: rgba(20, 54, 122, 0.5);
  transition: opacity 0.3s;

  @media (min-width: $tablet-width) {
    width: 270px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 230px;
  }
}

.about__video.playing::after {
  opacity: 0;
}

.about__video-iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 2;
}

.about__video-style {
  border: none;
  display: none;
}

.about__video-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    object-fit: contain;
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop-width) {
    object-fit: cover;
    width: 360px;
    height: 230px;
  }

}

.about__button {
  position: absolute;
  display: block;
  background: $gradient-button;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: $color-white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    top: 50%;
    left: 44%;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    width: 72px;
    height: 72px;
  }
}

.about__button::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  display: block;
  border-radius: 50%;
  border: 2px solid $bg-red;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  ;
  opacity: 0.2;
  background-color: transparent;

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}


.about__button svg {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about__button:hover {
  background-image: none;
  background-color: $color-white;
  color: rgba(16, 38, 84, 0.6);
}

.about__button:hover:before {
  border-color: $color-main;
  opacity: 0.6;
}

.about__button:focus {
  background-image: none;
  color: $color-main;
  background-color: $color-button-disabled;
  outline: none;
}

.about__button:focus:before {
  border-color: $color-main;
}

.about__button:active {
  width: 42px;
  height: 42px;
  background-color: $color-white;
  background-image: none;
}

.about__button:active:before {
  border-color: $color-main;
  opacity: 1
}

.about__button:disabled {
  background-color: $color-white;
  background-image: none;
  opacity: 0.4;
  pointer-events: none;
}

.about__button:disabled:before {
  border-color: $color-main;
  opacity: 0.4;
}

.about__button--disabled {
  background-color: $color-white;
  background-image: none;
  opacity: 0.4;
  pointer-events: none;
}
