.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: $color-main;
  padding: 25px 47px;
  border: 2px solid $color-main;
  cursor: pointer;
}
.button:hover {
  background-color: $color-white;
  color: $color-blue-text-button;
}

.button:focus {
  color: $color-blue-text-button;
  background-color: $color-white;
  opacity: 0.8;
  border: 2px solid $color-black;
  outline: none;
}

.button:active {
background-attachment: $color-white;
color: $color-main;
outline: none;
}

.button .disabled {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
  pointer-events: none;
}
