.button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: $color-main;
  padding: 25px 47px;
  border: 2px solid $color-main;
  cursor: pointer;
}
