.content-group{
  @media (min-width: $desktop-width) {
    display: flex;

  }
}

.content-group__item {
  background-color: $bg-dark-blue;
  @media (min-width: $desktop-width) {
   width: 50%;
  }
}

.content-group__item--white {
  background-color: $color-white;
  padding: 40px 0;
  @media (min-width: $desktop-width) {
    border-top: 1px solid $color-border-input ;
  }
}

.content-group__heading {
  color: $color-white;
  padding-bottom: 36px;
  @media (min-width: $tablet-width) {
    text-align: center;
  }
  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.content-group__heading--white {
  color: $color-main;
  padding-bottom: 42px;
}

.content-group__container {
  padding: 70px 15px;

  @media (min-width: $tablet-width) {
    padding: 60px 164px;
  }
  @media (min-width: $desktop-width) {
    width: 683px;
    padding: 60px 103px;
  }
}
