.dict {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
  }

  &> :first-child {
    @media (min-width: $tablet-width) {
      padding-right: 30px;
      border-right: 1px solid $color-border-input;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: normal;
  }
}


.dict__item {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.dict__key {
  padding-bottom: 12px;
}

.dict__value {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-main;
  text-align: left;
  padding-bottom: 28px;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

}

.dict__item:last-child {
  padding-bottom: 0;
}

.dict__value a {
  color: $color-main;
}
