.faq {
  background-color: $bg-light;
  padding-top: 70px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

}

.faq__inner {
  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 40px;
  }
}

.faq__heading {
  text-align: center;
  padding-bottom: 35px;

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: left;
  }
}

.faq__tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(116, 129, 156, 1);

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    border: none;
    height: 250px;
  }
}

.faq__tab {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  padding: 14px 22px;
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;
  color: $color-main;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    padding: 18px 48px;
  }
}
.faq__tab:hover {
  border-color: $color-main;
}

.faq__tab:focus {
  border-color: $color-main;
  background-color: $color-white;
}

.faq-tab:disabled {
  color: $color-button-disabled;
  border-color: rgba(16, 38, 84, 0.2);
  pointer-events: none
}

.faq-tabs__tab-item {
  border-bottom: 1px solid #74819c
}

.faq__tab--active {
  color: $color-white;
  background: $gradient-button;
  border: none;
}

.faq__tab-content {
  padding-top: 20px;
  display: none;
}

.faq__tab-content.active {
  display: block;
}

.faq__accordion-header {
  position: relative;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  border: none;
  background-color: transparent;
  color: $color-main;
  padding: 20px 0;
  padding-right: 50px;
  cursor: pointer;
  border-bottom: 1px solid $color-text-input;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
  }
}
.faq__accordion-header:first-child {
  @media (min-width: $desktop-width) {
    border-top: 1px solid $color-text-input;
  }
}

.faq__accordion-header.active {
  border-bottom: none;
}

.faq__accordion-header::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../../img/sprite/open.svg");
  width: 42px;
  height: 42px;
  transition: transform 0.4s ease;
}

.faq__accordion-header.active::after {
  background-image: url("../../img/sprite/close.svg");
}

.faq__accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;

}

.faq__accordion-body.show {
  max-height: 500px;
  border-bottom: 1px solid $color-text-input;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

}

.faq__accordion-item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.faq__accordion-body p {
  margin: 0;
  padding: 20px 60px 20px 0;

  @media (min-width: $desktop-width) {
    padding-right: 200px;
    padding-bottom: 23px;
  }
}
