.form {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }

}

.form__group {
  margin: 0;
}

.form__group-input {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 0;
  text-align: left;
  width: 100%;
  background-color: $bg-dark-blue;
  color: $color-border-input;
  border: none;
  padding-bottom: 4px;
  border-bottom: 1px solid $color-border-input;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 205px;
  }
}

.form__group-input::placeholder {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.form__group-input:focus {
  border-bottom: 1px solid $color-white;
  background-color: $bg-dark-blue;
  color: $color-white;
}

.form__group-input.error {
  border-bottom: 1px solid $color-error;
  color: $color-white;
}

.form__error-message {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: $color-error;
  display: none;
}

.form__error-message.active {
  display: block;
}

.form__submit-button {
  color: $color-white;
  background: transparent;
  border: 2px solid $color-white;
  padding: 23px 47px;

  @media (min-width: $tablet-width) {
    width: 100%;

    grid-column: -1 / 1;

  }
}
