.hero {
min-height: 412px ;
background: $gradient-main;
margin-bottom: 40px;
}

.hero__img {
  display: none;
}

.hero__content {
  text-align: right;
  display: grid;
  grid-template-areas:
  ". place"
  ". label"
  "features heading"
  "btn btn";
  grid-template-columns: 113px 1fr;
  column-gap: 21px;
  color: $color-white;
}

.hero__description {
  grid-area: features;
  list-style-type: none;
  font-family: "Roboto Condensed", "Arial", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 20px;
padding: 0;
align-self: end;

}

.hero__place {
  grid-area: place;
  font-family: "Alumni Sans", "Arial", sans-serif;
font-size: 32px;
font-weight: 600;
line-height: 32px;
text-align: right;
}

.hero__heading{
grid-area: heading;
font-family: "Alumni Sans", "Arial", sans-serif;
font-size: 62px;
font-weight: 800;
line-height: 62px;
letter-spacing: 1px;
text-transform: uppercase;
margin: 0;

}

.hero__wrapper-button{
grid-area: btn;
display: flex;
justify-content: center;
font-family: "Roboto Condensed", "Arial", sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 12px;
color: $color-white;
margin-top: 48px;
}

.hero__button{
  color: $color-white;
  padding: 22px 0;
  width: 100%;
  border: 2px solid $color-white;
  text-align: center;
}
