.navigation {
  display: flex;
  column-gap: 35px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.navigation__item {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  text-align: left;
  padding: 4px 9px;
  border: 1px solid transparent;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.navigation__item:hover {
  text-decoration: underline;
  text-decoration-color: $color-white;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-underline-position: under;
}

.navigation__item:focus {
  border-color: $color-white;
  outline: none;
}

.navigation__item:active {
  text-decoration: none;
  border-color: transparent;
}

.navigation__item:disabled {
  opacity: .4;
  pointer-events: none;
}

.navigation__item--disabled {
  opacity: .4;
  pointer-events: none;
}

.navigation__item--disabled:focus {
  border-color: transparent;
}
