.offers {
  min-height: 300px;
  background-color: $color-white;
}

.offers__heading {
  text-align: center;
}

.offers__text {
  text-align: center;
  min-height: 260px;
  padding: 30px;
  background-color: $bg-red;
  color: $color-white;
}

.offers__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  border: none;
  padding: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid $color-outline-button;
  text-align: center;
  color: $color-outline-button;
  display: inline-block;
}

.offers__button--main {
  color: $color-white;
  border-color: $color-white;
}

.offers__title--main {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

.offers__title--main h3 {
  margin: 0;
  padding-bottom: 9px;
}

.offers__title--main span {
  display: block;
  font-family: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  padding-bottom: 28px;
  text-align: center;

}

.offers__description--main {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding-bottom: 28px;

}

.offers__description p {
  margin: 0;
  padding-bottom: 20px;
}

.offers__img {
  display: flex;
  justify-content: center;
}

.offers__item {
  text-align: center;
  min-height: 180px;
  border: 7px solid transparent ;
  -o-border-image: linear-gradient(148.82deg, #d10a42 .85%, #00359f 100%) 1;
  border-image: linear-gradient(148.82deg, #d10a42 .85%, #00359f 100%) 1;
  color: #1c3374;
  padding: 20px;
  margin-bottom: 40px;
}
.offers__item--main {
  border: none;
  padding: 0;
}

.offers__item h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}
