.offers {
  min-height: 300px;
  background-color: $color-white;
}

.offers__inner {
  @media (min-width: $tablet-width) {
    margin: 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 103px;
    width: 1366px;
    margin: 0 auto;
  }
}

.offers__heading {
  text-align: center;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 35px;
    padding-top: 60px
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
    padding-top: 100px
  }
}

.offers__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: end;
    column-gap: 40px;
  }
}

.offers__text {
  text-align: center;
  min-height: 260px;
  padding: 30px;
  background-color: $bg-red;
  color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 40px 25px;
    text-align: left;

  }

  @media (min-width: $desktop-width) {
    padding: 40px 45px;

  }
}

.offers__items-wrapper {
  margin: 0 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 40px;
  }
}

.offers__button {
  width: fit-content;
  margin: 10px auto 0;
  padding: 9px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: $color-outline-button;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-underline-position: under;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    text-decoration-color: $color-outline-button;
    opacity: 0.8;
  }

  &:focus {
    text-decoration-color: transparent;
    border-color: $color-outline-button;
    opacity: 1;
    outline: none;
  }

  &:active {
    border-color: transparent;
    text-decoration-color: $color-outline-button;
  }

  &:disabled {
    text-decoration-color: $color-outline-button;
    opacity: 0.3;
    pointer-events: none;
  }
}

.offers__button--main {
  color: $color-white;
  text-decoration-color: $color-white;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: auto;
  }

  &:hover {
    text-decoration-color: $color-white;
    opacity: 0.8;
  }

  &:focus {
    text-decoration-color: transparent;
    border-color: $color-white;
    background-color: transparent;
    color: $color-white;
    outline: none;
  }

  &:active {
    background-color: transparent;
    color: $color-white;
    border-color: transparent;
    text-decoration-color: $color-white;
  }

  &:disabled {
    text-decoration-color: $color-white;
    opacity: 0.3;
    pointer-events: none;
  }
}

.offers__title--main {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offers__title--main h3 {
  margin: 0;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.offers__title--main span {
  display: block;
  font-family: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  padding-bottom: 28px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 70px;
    line-height: 70px;
    text-align: left;

  }
}



.offers__description p {
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 40px;
  }
}

.offers__description--main {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 160px;
    text-align: left;
  }


}

.offers__description--main p {
  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.offers__img {
  display: flex;
  justify-content: center;
}

.offers__img picture {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.offers__img img {
  width: 320px;
  height: 360px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 462px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    height: 460px;
  }
}

.offers__item {
  text-align: center;
  min-height: 180px;
  border: 7px solid transparent;
  -o-border-image: linear-gradient(148.82deg, #d10a42 .85%, #00359f 100%) 1;
  border-image: linear-gradient(148.82deg, #d10a42 .85%, #00359f 100%) 1;
  color: #1c3374;
  padding: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.offers__item--main {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: stretch;
  }

  @media (min-width: $desktop-width) {
    width: 100%;

  }
}

.offers__item h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 10px;
  }
}
