.reviews {
  background-color: $color-white;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 35px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 100px;
    margin: 0;
  }
}

.reviews__heading {
  text-align: center;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 60px 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0 75px;
  }
}

.reviews__inner {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 500px;
  }
}

.reviews .reviews__item {
  background-color: $bg-blue;
  padding: 30px 32px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 30px;
    gap: 40px;
  }
}

.reviews__icon {
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.reviews__icon picture {
  width: 80px;
  height: 80px;
}

.reviews__icon img {
  width: 68px;
  height: 68px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.reviews__content {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: $color-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
    text-align: left;
  }
}

.reviews__content h3 {
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.reviews__comment {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.reviews__comment p {
  margin: 0;
}

.reviews .reviews__slider-button-next,
.reviews .reviews__slider-button-prev {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    border: none;
    background-color: transparent;
    color: $color-main;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
    transform: translate(50%, 50%);

  }
}

.reviews .reviews__slider-button-next::after {
  @media (min-width: $tablet-width) {
    content: "";
    background-image: url("../../img/sprite/arrow-next.svg");
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 18px;
    height: 32px;
  }
}

.reviews .reviews__slider-button-prev::after {
  @media (min-width: $tablet-width) {
    content: "";
    background-image: url("../../img/sprite/arrow-prev.svg");
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    width: 18px;
    height: 32px;
  }
}

.reviews .reviews__slider-button:hover {
  border-color: $color-main;
}

.reviews .reviews__slider-button:focus {
  background-color: $color-gray;
}

.reviews .reviews__slider-button:active {
  border-color: $color-main;
  background-color: $color-main;
}

.reviews .reviews__slider-button-prev:active::after,
.reviews .reviews__slider-button-next:active::after {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(220deg) brightness(95%) contrast(95%);
}

.reviews .reviews__slider-button--disabled {
  opacity: .3;
  pointer-events: none
}
