.tabs__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (min-width: $tablet-width) {
    width: 310px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
}

.tabs__control {
  position: relative;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  padding: 10px 0;
  color: rgba(16, 38, 84, 0.5);
  background-color: $bg-light;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

}


.tabs__control:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px
}

.tabs__control:hover {
  color: #102654b3
}

.tabs__control:hover:before {
  background-color: #787878
}

.tabs__control:focus {
  color: #102654
}

.tabs__control:focus:before {
  background-color: #102654
}

.tabs__control:active {
  color: #102654
}

.tabs__control:active:before {
  background-color: #ed0233
}

.tabs__control:disabled {
  color: #102654;
  opacity: .3;
  pointer-events: none
}

.tabs__control:disabled:before {
  background-color: #102654
}

.tabs__control--active {
  color: #102654;
  pointer-events: none
}

.tabs__control--active:before {
  background-color: #d10a42
}

.tabs__control--active:focus {
  color: #102654
}

.tabs__control--active:focus:before {
  background-color: #d10a42
}

.tabs__element {
  display: none;
}

.tabs__element--active {
  display: block;
}
